<a href="#" class="list-group-item clearfix" (click)="onClickRecipe()" role="button">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
    <!-- [src]="recipe.imagePath" -->
    <!-- src="{{ recipe.imagePath }}" -->
    <img
      [src]="recipe.imagePath"
      class="img-responsive"
      [alt]="recipe.name"
      style="max-height: 50px"
    />
  </span>
</a>
